:root {
    /* title */
    --primary-color: #212121;
    /* paragraph */
    --secondary-color: #757575;
    --accent-color: #2196F3;
    /* logo  */
    --black-color: #000000;
    /* logo-footer, hero, main-bgc */
    --white-color: #FFFFFF;
    /* footer-mail-phone */
    --white-transparent-color: rgba(255, 255, 255, 0.6);
    /* btn-bgc, team-bgc */
    --bgc-gray: #F5F4FA;
    /* footer-bgc*/
    --bgc-footer: #2F303A;
    /* !!! variable names are not ideal. replace if necessary */
}


body {
    background-color: #162831;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;

    color: #FFFFFF;
}


h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    padding-right: 24px;
    padding-left: 24px;
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1296px;
    }
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.btn {
    width: 200px;
    display: inline-block;
    border: none;
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
    letter-spacing: inherit;
    text-align: center;

}

.btn.primary {
    min-width: 200px;
    padding: 10px;

    background-color: var(--accent-color);
    color: var(--white-color);

}

.btn.secondary {
    padding: 6px 22px;

    background-color: var(--bgc-gray);
    color: var(--primary-color);

}

.btn.secondary:hover,
.btn.secondary:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
}

.logo {
    padding-top: 10px;
    padding-bottom: 10px;
    /* color: var(--white-color); */
    color: var(--accent-color);
    font-family: 'Lobster', cursive;
    font-style: italic;
    letter-spacing: 3px;
    /* font-weight: 700; */
    font-size: 26px;
    line-height: 1.19;
    text-align: center;
}

.logo.logo_desktop {
    display: none;
}

@media screen and (min-width: 1200px) {
    .logo.logo_desktop {
        display: block;
    }
}

.logo:hover {
    color: var(--white-color);
}

.header-icon,
.footer-icon {
    fill: currentColor;
}


/* ===//////////////////=== */


/*===========HEADER===========*/

.header-page {
    background-color: #162831;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: none;
}

@media screen and (min-width: 1200px) {
    .header-nav {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

.header-list {
    display: flex;
    column-gap: 50px;
}

.header-link {
    padding-top: 15px;
    padding-bottom: 15px;
    color: inherit;
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.header-contacts {
    display: flex;
    margin-left: auto;
    justify-content: space-around;
}

.header-btn {
    margin-left: 30px;
}

.header-contacts-link:not(.phone) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--white-color);
}

.header-contacts-link:not(.phone):hover {
    background-color: var(--white-color);
    color: var(--accent-color);
}

.phone {
    display: flex;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 4px;

    font-size: 16px;
    font-weight: 700;
    color: var(--white-color);
}

.phone:hover,
.phone:focus {
    color: var(--accent-color);
}

.smartphone-icon {
    margin-right: 8px;
}

.burger-menu {
    display: block;

    border: none;
    background-color: transparent;
    line-height: 0;
}

.burger-menu__icon {
    width: 40px;
    height: 40px;

    fill: var(--white-color);
}

/* //////////////////  MOB MENU  ////////////////////// */
.burger-menu {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}

@media screen and (min-width: 768px) {
    .burger-menu {
        display: none;
    }
}

.burger-menu__icon {
    width: 40px;
    height: 40px;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow-y: scroll;
    background-color: #162831;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
    transform: translateX(100%);
    transition: transform var(--animation);
}

.mobile-menu__nav::after {
    content: '';
    display: block;
    border-bottom: 1px solid var(--white-color);

}

.mobile-menu.is-open {
    transform: translateX(0);
}

.mobile-menu__container {
    position: relative;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile-menu__burger-close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    border: 0;
    background-color: transparent;
    line-height: 0;

    fill: var(--bgc-gray);
}

.mobile-menu__burger-close:hover,
.mobile-menu__burger-close:focus {
    fill: var(--accent-color);
}

.mobile-menu__icon {
    width: 40px;
    height: 40px;
}

.mobile-menu__link {
    display: block;
    padding-bottom: 32px;
    font-size: 40px;
    color: var(--white-color);
}

.mobile-menu__link_active {
    padding-bottom: 36px;
    color: var(--accent-color);
}

.mobile-menu__contacts-item {
    padding-top: 16px;
    padding-bottom: 16px;

    display: flex;
    align-items: baseline;
}

.mobile-menu__contacts-item:first-child {
    padding-top: 32px;
}

.mobile-menu__contacts-item:last-child {
    padding-top: 32px;
}


.mobile-menu__phone {
    font-size: 34px;
    color: var(--white-color-color);
}

@media screen and (max-width: 344px) {
    .mobile-menu__phone {
        font-size: 30px;
    }
}

@media screen and (max-width: 327px) {
    .mobile-menu__phone {
        font-size: 24px;
    }
}

.mobile-menu__social {
    display: flex;
}

@media screen and (max-width: 435px) {
    .mobile-menu__social {
        flex-wrap: wrap;
        gap: 10px;
    }
}

.mobile-menu__social-item:not(:last-child) {
    margin-right: 10px;
    padding-right: 9px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}

@media screen and (max-width: 435px) {
    .mobile-menu__social-item:not(:last-child) {
        flex-basis: calc((100% - 10px) / 4);
        margin-right: 0;
    }

    .mobile-menu__social-item:not(:last-child):nth-child(3) {
        border-right: none;
    }
}

@media screen and (max-width: 327px) {
    .mobile-menu__social-item:not(:last-child):nth-child(2) {
        border-right: none;
    }

    .mobile-menu__social-item:not(:last-child):nth-child(3) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
}

.mobile-menu__social-link {
    font-size: 30px;
    line-height: 1.22;
    color: var(--white-color);
}

@media screen and (max-width: 435px) {
    .mobile-menu__social-link {
        display: flex;
        /* justify-content: center; */
        align-items: center;
    }
}

/* /////////////////  /MOB MENU ////////////////////// */

/*===========HERO==========*/
.hero-page {
    max-width: 1296px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(110, 110, 110);
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../img/massazh-fon.jpg");
    background-size: cover;
    background-position: right;
}

@media screen and (max-width: 1200px) {
    .hero-page {
        background-position: center;
    }
}




.hero-title {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 160px;

    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
}

@media screen and (min-width: 768px) {
    .hero-title {
        font-size: 52px;
    }
}

.btn-hero {
    display: block;
    margin-right: auto;
    margin-left: auto;
}


/*===========/HERO==========*/



.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.title {
    padding-bottom: 60px;

    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white-color);
}

/*===========SESSIONS==========*/
.sessions-page {
    padding-top: 100px;
}

@media screen and (min-width: 768px) {
    .sessions-list {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
    }
}


.sessions-item {
    flex-basis: calc((100% - 100px) / 3);
    background-color: rgba(117, 117, 117, .4);
    border-radius: 10px;
}

@media screen and (max-width: 767px) {
    .sessions-item:not(:last-child) {
        margin-bottom: 20px;
    }
}

.sessions-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sessions-title-item {
    padding-top: 10px;
    padding-bottom: 10px;

    text-align: center;
    color: var(--white-color);
}

/*===========/SESSIONS==========*/



/*===========REVIEWS==========*/
.reviews-list {
    /* display: flex;
    justify-content: space-between;
    column-gap: 30px; */
    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
    .reviews-list {
        display: flex;
        justify-content: space-between;
        column-gap: 30px;

    }
}

.reviews-item {
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(117, 117, 117, .4);
}

@media screen and (max-width: 767px) {
    .reviews-item:not(:last-child) {
        margin-bottom: 20px;
    }
}

.reviews-name {
    margin-bottom: 8px;
}

.reviews-link {
    display: block;
    margin-left: auto;
    color: var(--secondary-color);
    text-align: end;
}

/*===========/REVIEWS==========*/


/*===========ABOUT==========*/

@media screen and (min-width: 768px) {
    .about-item {
        display: flex;
    }
}

.about-item:not(:last-child) {
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .about-item:nth-child(2n) {
        flex-direction: row-reverse;
    }
}


.about-text {
    padding: 20px;
}

.about-name {
    margin-bottom: 20px;
}

/*===========/ABOUT==========*/


/*===========COST==========*/
.cost-list {
    margin-right: auto;
    margin-left: auto;
    table-layout: fixed;

    border-collapse: collapse;

}

@media screen and (min-width: 768px) {
    .cost-list {
        width: 70%;
    }
}

.cost-descr:nth-child(1) {
    width: 60%;
}

.cost-item,
.cost-descr {
    padding: 20px;
}

.cost-item:nth-child(odd) {
    background-color: var(--white-transparent-color);
}

.cost-item:nth-child(even) {
    background-color: rgba(33, 150, 243, 0.2);
}

/*===========/COST==========*/

/*===========FOOTER==========*/
.footer-page {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
    .footer-page {
        display: flex;
        column-gap: 30px;
        /* padding-top: 50px;
        padding-bottom: 50px; */
    }
}

.googl-map {
    max-width: 100%;
    height: 150px;
    border-radius: 10px;
}

@media screen and (max-width: 767px) {
    .googl-map {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px) {
    .googl-map {
        max-width: 100%;
        width: 600px;
        height: 450px;
        border-radius: 10px;
    }
}

.footer-item {

    padding: 20px;
    background-color: rgba(33, 150, 243, 0.2);
    border-radius: 10px;

    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 30%;
        height: 450px;
        padding: 20px;

    }
}

.logo-footer {
    display: block;
    margin-bottom: 30px;
    width: 218px;
    text-align: center;
}

.footer-address {
    font-size: 20px;
    font-style: normal;
}

.footer-contacts-link {
    display: block;
    margin: 20px 0;
    font-size: 28px;
    color: var(--white-color);
}

.footer-location {
    margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
    .footer-location {
        display: flex;
        margin-bottom: 15px;
        align-items: center;
    }
}

.location-icon {
    margin-right: 10px;
}

.footer-metro {
    display: flex;
    align-items: center;
    margin-left: 8px;

}

@media screen and (max-width: 767px) {
    .footer-metro {
        justify-content: center;

    }
}

.footer-phone:hover,
.footer-phone:focus {
    color: var(--accent-color);
}

.metro-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 10px;
    stroke-width: 0;
    stroke: #0000ff;
    fill: #0000ff;
}

.red-station {
    stroke: #ff0000;
    fill: #ff0000;
}

/*===========/FOOTER==========*/

/* //////////////////////////////////
////////////////////////////////// */

/*===========ABOUT-ME==========*/
.about-me-content {
    display: flex;
    column-gap: 50px;
}

.about-me-title {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 50px;
    text-align: center;
}

.about-me-text {
    max-width: 648px;
}

.certificate-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
}

.certificate-item {
    display: flex;
    width: 30%;
    align-items: center;

    background-color: rgba(117, 117, 117, .4);
}


/*===========/ABOUT-ME==========*/

/* //////////////////////////////////
////////////////////////////////// */

/*=========== NEWS ==========*/
.news-item {
    display: flex;
    column-gap: 30px;
}

.news-item-text-time {
    padding: 20px;
}

.news-item-text {
    margin-bottom: 30px;
}

.news-item:nth-child(2n) {
    flex-direction: row-reverse;
    background-color: rgba(117, 117, 117, .4);

}

.news-item:nth-child(2n+1) {
    background-color: rgba(33, 150, 243, .4);
}

.news-item:not(:last-child) {
    margin-bottom: 30px;
}

.news-title {
    margin-bottom: 30px;
}




/*========== /NEWS ==========*/

/* //////////////////////////////////
////////////////////////////////// */

/*=========== Q and A ==========*/
.qanda-main-title {
    margin-bottom: 50px;
    text-align: center;
}

.qanda-list {
    display: flex;
    flex-direction: column;
}

.qanda-item {
    width: 70%;
    margin-right: auto;
    margin-left: 0;
    background-color: rgba(33, 150, 243, .4);
    border-radius: 10px;

}

.qanda-item:nth-child(2n+1) {
    margin-bottom: 10px;

}

.qanda-item:nth-child(2n) {
    width: 70%;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 50px;
    background-color: rgba(117, 117, 117, .4);
    border-radius: 10px;
}

.qanda-text {
    padding: 20px;
}

/*========== /Q and A ==========*/