.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.title {
  padding-bottom: 60px;

  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
}

.list {
  margin-right: auto;
  margin-left: auto;
}

.item {
  padding-top: 24px;
  padding-bottom: 12px;
  border-bottom: 1px solid #fff;

  &:not(:last-child) {
    margin-bottom: 80px;
  }

  &:nth-child(2n) .link_more {
    justify-content: flex-start;
  }

  @media screen and (min-width: 1200px) {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }
  }
}

.img_wrap {
  @media screen and (min-width: 1200px) {
    width: 648px;
    height: 300px;
  }
}

.img {
  display: block;
  height: 100%;
  width: 100%;

  object-fit: cover;
}

.text {
  padding: 20px;

  font-size: 20px;
  @media screen and (min-width: 1200px) {
    width: 1000px;
  }
}

.text_not_img {
  padding: 20px;
  width: 100%;
  font-size: 20px;
}

.subtitle {
  margin-bottom: 20px;
}

.link_more {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
}
.link_more_text {
  color: var(--accent-color);
  font-size: 20px;
  padding-right: 8px;
}
