.swiper_wrap {
  position: relative;

  margin-bottom: 12px;
  padding: 12px;

  border-radius: 12px;
  background-color: rgba(170, 170, 170, 0.3);
}

.item {
  margin-bottom: 40px;

  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.comment_box {
  padding: 16px;

  border: 1px solid #fff;
  border-radius: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}

.header_right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.name {
  margin-left: 8px;
}

.grade {
  margin-left: 8px;

  font-size: 20px;
  color: #f6fa0f;
}

.comment {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;

  color: #c5c5c5;
}
