.burger_menu_btn {
  display: block;
  padding: 0;

  border: none;
  background-color: transparent;
  line-height: 0;

  fill: var(--white-color);

  cursor: pointer;

  &:hover {
    transform: scale(1.25);
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mobile_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow-y: scroll;
  background-color: #162831;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.close_btn {
  position: absolute;
  top: 10px;
  right: 15px;

  margin: 0;
  padding: 32px;

  color: #ffffff;
  line-height: 0;

  border: none;
  background-color: transparent;

  cursor: pointer;

  transition: color var(--animation);

  z-index: 100;

  &:hover,
  &:focus {
    color: red;
  }
}
.mobile_menu_nav {
  &::after {
    content: "";
    display: block;

    border-bottom: 1px solid var(--white-color);
  }
}

.mobile_menu_container {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 80px;
  padding-bottom: 48px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile_menu_link {
  display: block;
  padding-bottom: 32px;
  font-size: 20px;
  color: var(--white-color);
}
//  !!!!!!!!!!!!!!!!!!!!
.mobile_menu_link_active {
  padding-bottom: 36px;
  color: var(--accent-color);
}
//  !!!!!!!!!!!!!!!!!!!!

.mobile_menu_contacts_item {
  padding-top: 16px;
  padding-bottom: 16px;

  display: flex;
  align-items: baseline;
  &:first-child {
    padding-top: 32px;
  }
  &:last-child {
    padding-top: 32px;
  }
}

.mobile_menu_phone {
  font-size: 34px;
  color: var(--white-color-color);

  @media screen and (max-width: 344px) {
    font-size: 30px;
  }

  @media screen and (max-width: 327px) {
    font-size: 24px;
  }
}

.mobile_menu_social_link {
  font-size: 30px;
  line-height: 1.22;
  color: var(--white-color);
  @media screen and (max-width: 435px) {
    display: flex;

    align-items: center;
  }
}
