@import "node_modules/modern-normalize/modern-normalize.css";

:root {
  --main-color: #162831;

  /* title */
  --primary-color: #212121;
  /* paragraph */
  --secondary-color: #757575;
  --accent-color: #2196F3;
  --accent-color-hf: #007add;
  /* logo  */
  --black-color: #000000;
  /* logo-footer, hero, main-bgc */
  --white-color: #FFFFFF;
  /* footer-mail-phone */
  --white-transparent-color: rgba(255, 255, 255, 0.6);
  /* btn-bgc, team-bgc */
  --bgc-gray: #F5F4FA;
  /* footer-bgc*/
  --bgc-footer: #2F303A;
  /* !!! variable names are not ideal. replace if necessary */

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


body {
  background-color: #162831;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;

  color: #FFFFFF;
}


h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-right: 24px;
  padding-left: 24px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1296px;
  }
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #2196F3;
  border-radius: 20px;
  border: 1px solid #f3f021;
}