.section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(51, 15, 179, 0.1);
}

.title {
  padding-bottom: 60px;

  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
}

.list {
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 50px;
  }
}

.item {
  flex-basis: calc((100% - 100px) / 3);
}

.comment_box {
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(117, 117, 117, 0.4);

  height: 200px;
}

@media screen and (max-width: 767px) {
  .reviews-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.reviews-name {
  margin-bottom: 8px;
}

.link {
  display: block;
  margin-left: auto;

  font-size: 18px;
  color: var(--white-color);
  text-align: end;
}
