.section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(51, 15, 179, 0.1);
}

.title {
  padding-bottom: 60px;

  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
}

.list {
  margin-right: auto;
  margin-left: auto;
  table-layout: fixed;

  border-collapse: collapse;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 100%;
    max-width: 1248px;
  }
}

.item {
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;

  &:nth-child(odd) {
    background-color: #575757;
  }

  &:nth-child(even) {
    background-color: rgba(33, 150, 243, 0.2);
  }

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.service {
  &:nth-child(1) {
    width: 60%;
  }
}

.duration {
  text-align: center;
}
.price {
  padding: 30px;
}
