.open_btn {
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 8px;

  background-color: var(--accent-color);
  border: none;
  border-radius: 8px;

  font-size: 20px;
  font-weight: 600;
  color: #fff;

  cursor: pointer;

  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: var(--accent-color-hf);
  }
}

.add_slide_box {
  position: relative;

  border: 1px solid #949494;
  border-radius: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close_btn {
  color: #ffffff;
  padding: 32px;
  margin: 0;
  line-height: 0;
  border: none;
  background-color: transparent;

  cursor: pointer;

  transition: color var(--animation);

  z-index: 100;

  &:hover,
  &:focus {
    color: red;
  }
}

.name_subsection {
  padding: 32px;

  font-size: 24px;
}

.form_container {
  display: flex;
  flex-direction: column;
  padding: 32px;
  padding-top: 0;
}

.input_container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.input_label {
  font-size: 16px;
  padding-bottom: 8px;
}

.input {
  font-size: 16px;
  padding: 8px;
  border-radius: 8px;
}

.textarea {
  font-size: 16px;
  padding: 8px;
  border-radius: 8px;
  resize: none;
  height: 200px;
}

.grade_box {
  display: "flex";
  flex-direction: "column";
  gap: 10;
}

.grade_header {
  display: flex;
}

.grade_btns {
  display: flex;
  // justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 8px;
}

.grade_btn_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  border-radius: 8px;

  cursor: pointer;

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.submit_btn {
  margin-top: 20px;
  // padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--accent-color);
  border: none;
  border-radius: 8px;

  font-size: 20px;
  font-weight: 600;
  color: #fff;

  cursor: pointer;

  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: var(--accent-color-hf);
  }
}

.submit_btn_text {
  padding: 8px;
}

.requared {
  margin-right: 4px;

  color: #ff0000;
}

.notification_box {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 26, 255, 0.9);
  border-radius: 12px;
}

.notification_text {
  font-size: 20px;
  @media screen and (min-width: 320px) {
    font-size: 24px;
  }
  @media screen and (min-width: 475px) {
    font-size: 40px;
  }
}
